body { letter-spacing: .5px;
    font-family: acumin-pro,sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    color: #633303;
     }
* { box-sizing: border-box; }
nav { background-color: #f9f2ec;
    position: absolute;
    top: 140px;
    padding-right: 85px;
    padding-bottom: 20px;
    font-size: 25px;
}
nav ul {
    padding-left: 100px;
}
nav a:link {
    color: #633303;
    text-decoration: none; 
}
nav a:visited {
    color: #996633;
}
nav a:hover {
    color: orange;
}
h1 {
    font-weight: 700;
    background-image: linear-gradient( #e6ccb3,#f9f2ec );
    margin: 0px;
    display: flex;
    width: 100%;
    font-size: 45px;
    padding: 40px;
    padding-left: 100px;
}
h2 {
    margin: 0px;
    font-weight: 400;
    background-color: #FFEFE1;
    display: flex;
    font-size: 40px;
    padding: 30px;
    padding-left: 120px;
}
h3 {
    font-weight: 600;
    color: darkorange;
    background-color: #f5f2ef;
    display: flex;
    padding-left: 120px;
    width: 100%;
    margin: 0;
    height: 50px;
    font-size: 25px;
}
h4 {
    font-weight: 600;
    background-color: #fcf2e9;
    padding: 30px;
    padding-left: 120px;
    margin: 0;
    font-size: 25px;
}
h5 {
    font-weight: 600;
    font-size: 25px;
    padding: 5px;
    margin-top: 0;
    padding-top: 60px;
}
.fs {
    display: grid;
    grid-template-columns: 630px 630px;
    grid-template-rows: 80px 80px;
    padding-left: 120px;
    line-height: 120px; 
    background-color: #FFEFE1;
    padding-bottom: 90px;
    font-size: 25px;
}
#fall-specials {
    background-color: #FFEFE1;
}
.drinks { 
    display: grid;
    grid-template-columns: 630px 630px;
    padding-left: 120px; 
    padding-bottom: 50px;
    line-height: 100px;
    font-size: 25px;
    background-color: #fcf2e9;
}
.food {
    display: grid;
    grid-template-columns: 630px 630px;
    padding-left: 120px;
    line-height: 100px;
    font-size: 25px;
    background-color: #FCF5EF;
}
#menu-food {
    background-color: #FCF5EF;
}
.snacks { 
    display: grid;
    grid-template-columns: 630px 630px;
    padding-left: 120px;
    line-height: 100px; 
    padding-bottom: 90px;
    font-size: 25px;
    background-color: #FEF9F4;
}
#menu-snacks {
    background-color: #FEF9F4;
}
.contact h5  {
    padding-bottom: 30px;
}
ul {
    list-style-type: none;
    margin-bottom: 0px; 
    padding-left: 0;
}
li {
    line-height: 60px; 
}
footer { 
    background-image: linear-gradient( #e6ccb3,#f9f2ec );
    line-height: 20px;
    padding-top: 30px;
    padding-left: 125px;
    padding-bottom: 85px;
    font-size: 25px;
}
footer a:link {
    color: #633303;
}
footer a:visited {
    color: #996633;
}
footer a:hover {
    color: orange;
}
footer img {
    position: relative;
    left: 60px;
}
footer img fb {
    position: relative;
    left: 60px
}


@media (max-width: 600px) {
nav { 
    display: flex;
    position: absolute;
    top: 105px;
    padding-right: 25px;
    font-size: 15px;
    line-height: 40px;
    }
h1 {
    padding: 30px;
    font-size: 32px;
}
h2 {
    height: 50px;
    padding-left: 50px;
    font-size: 25px;
}
h3 {
    font-size: 15px;
    padding-left: 50px;
}
h4 {
    font-size: 15px;
    padding-left: 50px;
}
h5 {
    margin-left: 40px;
    font-size: 15px;
}
.fs {
    display: grid;
    grid-template-columns: 220px 230px;
    grid-template-rows: 40px 40px;
    position: relative;
    padding-left: 50px;
    line-height: 100x; 
    padding-bottom: 90px;
    font-size: 15px; 
}
.drinks { 
    display: grid;
    grid-template-columns: 220px 230px;
    padding-left: 50px;
    grid-template-rows: 40px 40px;
    font-size: 15px;
}
.food {
    display: grid;
    grid-template-columns: 220px 230px;
    grid-template-rows: 40px 40px;
    padding-left: 50px;
    line-height: 40px;
    font-size: 15px;
}
.snacks { 
    display: grid;
    grid-template-columns: 220px 230px;
    grid-template-rows: 40px 40px;
    line-height: 40px; 
    padding-left: 50px;
    padding-bottom: 90px;
    font-size: 15px;
}
li {
    line-height: 28px;     
} 
footer { 
    font-size: 15px;
    padding-left: 50px;
    }
}