body { letter-spacing: .5px;
    font-family: acumin-pro,sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    color: #633303;
     }
* { box-sizing: border-box; }
nav {
    background-color: #f9f2ec;
    position: absolute;
    top: 140px;
    padding-right: 85px;
    padding-bottom: 20px;
    font-size: 25px;
}
nav ul {
    padding-left: 100px;
}
nav a:link {
    color: #633303;
    text-decoration: none; 
}
nav a:visited {
    color: #996633;
}
nav a:hover {
    color: orange;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: 80px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 180 200px;
  bottom: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
h1 {
    font-weight: 700;
    background-image: linear-gradient( #e6ccb3,#f9f2ec );
    margin: 0px;
    display: flex;
    width: 100%;
    font-size: 45px;
    padding: 40px;
    padding-left: 100px;
}
h2 {
    margin: 0px;
    font-weight: 400;
    background-color: #FFEFE1;
    display: flex;
    font-size: 40px;
    padding: 30px;
    padding-left: 120px;
    padding-bottom: 40px;
}
h3 {
    font-weight: 600;
    color: darkorange;
    background-color: #f5f2ef;
    display: flex;
    padding-left: 120px;
    width: 100%;
    margin: 0;
    height: 50px;
    font-size: 25px;
}
h4 {
    font-weight: 600;
    background-color: #fcf2e9;
    padding: 30px;
    padding-left: 120px;
    margin: 0;
    font-size: 25px;
}
h5 {
    font-weight: 600;
    font-size: 25px;
    padding: 5px;
    margin-top: 0;
    padding-top: 60px;
}
.fs {
    display: grid;
    grid-template-columns: 630px 630px;
    grid-template-rows: 80px 80px;
    padding-left: 120px;
    line-height: 120px; 
    background-color: #FFEFE1;
    padding-bottom: 90px;
    font-size: 25px;
}
#fall-specials {
    background-color: #FFEFE1;
    
}
.drinks { 
    display: grid;
    grid-template-columns: 630px 630px;
    padding-left: 120px; 
    padding-bottom: 50px;
    line-height: 100px;
    font-size: 25px;
    background-color: #fcf2e9;
}
.food {
    display: grid;
    grid-template-columns: 630px 630px;
    padding-left: 120px;
    line-height: 100px;
    font-size: 25px;
    background-color: #FCF5EF;
}
#menu-food {
    background-color: #FCF5EF;
}
.snacks { 
    display: grid;
    grid-template-columns: 630px 630px;
    padding-left: 120px;
    line-height: 100px; 
    padding-bottom: 90px;
    font-size: 25px;
    background-color: #FEF9F4;
}
#menu-snacks {
    background-color: #FEF9F4;
}
.contact h5  {
    padding-bottom: 30px;
}
ul {
    list-style-type: none;
    margin-bottom: 0px;
}
li {
    line-height: 60px; 
}
footer { 
    background-image: linear-gradient( #e6ccb3,#f9f2ec );
    line-height: 20px;
    padding-top: 30px;
    padding-left: 125px;
    padding-bottom: 85px;
    font-size: 25px;
}
footer ul {
    padding-left: 0px;
}
footer a:link {
    color: #633303;
}
footer a:visited {
    color: #996633;
}
footer a:hover {
    color: orange;
}
footer img {
    position: relative;
    left: 0px;
    padding-top: 30px; 
}

@media (max-width: 768px) {
nav { 
    top: 105px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 40px;
}
nav ul {
    padding-left: 50px;
}   
.prev, .next {
    top: 25%;
}
h1 {
    padding: 30px;
    font-size: 32px;
    padding-left: 50px;
}
h2 {
    height: 50px;
    padding-left: 50px;
    font-size: 25px;
}
h3 {
    font-size: 15px;
    padding-left: 50px;
}
h4 {
    font-size: 15px;
    padding-left: 50px;
}
h5 {
    font-size: 15px;
}
.fs {
    display: grid;
    grid-template-columns: 220px 230px;
    grid-template-rows: 40px 40px 40px;
    padding-left: 50px;
    line-height: 50px; 
    font-size: 15px; 
}
.drinks { 
    display: grid;
    grid-template-columns: 220px 230px;
    padding-left: 50px;
    grid-template-rows: 40px 40px;
    font-size: 15px;
    line-height: 50px;
}
.food {
    display: grid;
    grid-template-columns: 220px 230px;
    grid-template-rows: 40px 40px;
    padding-left: 50px;
    line-height: 40px;
    font-size: 15px;
}
.snacks { 
    display: grid;
    grid-template-columns: 220px 230px;
    grid-template-rows: 40px 40px;
    line-height: 40px; 
    padding-left: 50px;
    padding-bottom: 90px;
    font-size: 15px;
}
li {
    line-height: 28px;     
} 
footer { 
    font-size: 15px;
    padding-left: 50px;
}
footer ul {
    padding-left: 5px;
    }
footer img {
    position: relative;
    top: 30px;
    left: 5px;
    padding: 2px;
}
}